<%= form_for [@poll, @question] do |f|%>
<%= f.label :question, "Question"%>
<%= f.text_field :question %>
<p>
<%= submit_tag "Add to poll", :name => "add_to_poll"%>
<%= submit_tag "Done adding questions", :name => "done"%>
</p>
<%end%>